- form.inputs do
  = form.input :species, :label => 'Species'
  = form.input :morphbank_code, :label => 'Morphbank code'
  = form.input :scamit_unique_id, :label => 'Scamit unique'
  = form.input :notes, :label => 'Notes'
