/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Heavily modified for SCAMIT by N. Dean Pentcheff 9/2009
*/

body {
    /* body background image lies behind header background image */
    background: #FFFFFF url(/s_images/pagebg.gif) repeat-x;
    text-align: justify;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 100%;
    color: #444444;
    margin: 0;
    padding: 0;
}

/* Page */

#page {
    /* allow flexible width by fixing the left margin with positioning
     * and setting the right side with a margin
     */
    position: absolute;
    top: 210px;
    left: 5em;
    margin:  0 5em 0 0;
    padding: 0 2em 0 2em;
}

h1, h2, h3 {
    color: #333333;
    text-align: left;
    font-weight: normal;
    margin-top: 0.7em;
    margin-bottom: 0.4em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
    font-weight: bold;
}

p, dd, blockquote {
    margin-bottom: 0.5em;
    font-size: 0.9em;
    line-height: 1.4em;
}

ul, ol {
    margin-bottom: 0.5em;
}

li {
    margin-bottom: 0.3em;
}

dt {
    font-weight: bold;
    font-size: 0.9em;
}

/* Instead of doing a size for UL, OL, or LI, surround   */
/* the list with a "span class='.stdsize'" to avoid      */
/* the problem of successive shrinkage with nesting.     */
.stdsize {
    font-size: 0.9em;
    line-height: 1.4em;
}

/* for convenience, smaller type */
.smallsize {
    font-size: 0.7em;
    line-height: 1.2em;
}

.cancel {
    text-decoration: line-through;
    color: #888;
}

.notedate {
    text-decoration: underline;
}

blockquote {
    /* left padding in pixels to fit background quotation graphic */
    padding: 0 3em 0 40px;
    font-family: Verdana, Helvetica, sans-serif;
    font-style: italic;
    font-size: 0.8em;
    line-height: 1.4em;
    background: url(/s_images/blockquote.gif) no-repeat;
}

ul, ol {
    margin-left: 3em;
}

dd {
    margin-left: 2em;
}

/* do non-underlined links, just a color cue */
a         {text-decoration: none;}
a:link    {color: #000099;}
a:visited {color: #000066;}
a:hover   {color: #660000;}
a:active  {color: #cc0000;}

img {
    position: relative; /* ensures this lies atop .hr lines */
}

.left {
    float: left;
    margin: 0 20px 10px 0;
    text-align: left;
}

.right {
    float: right;
    margin: 0 0 10px 20px;
    text-align: right;
}

/* use on a top-page header or para to make a horizontal ruled line */
.hr {
    border-top: 1px solid #EDEBD5;
    position: relative;
    z-index: -1;
    margin-top: 0; /* override top margin, to line up w. sidebar top */
}
/* similar, but without suppressing top margin */
.hronly {
    border-top: 1px solid #EDEBD5;
    position: relative;
    z-index: -1;
}

P.highlight {
    background: #fff0d3;
}

/* Header: at top, outside of any other div 
 * Dimensioning is in pixels to match the size of the bitmap backgrounds
 */
#header {
    width: 770px;
    display: block;
    position: relative;
    top: 40px;
    left: 40px;
    height: 170px;
}

#header h1 {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    width: 220px;
    height: 170px;
    margin: 0;
    padding: 70px 0 0 0;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    background: url(/s_images/headerleft.jpg) no-repeat;
}

#header h2 {
    display: inline;
    position: absolute;
    top: 0;
    left: 220px;
    width: 550px;
    height: 170px;
    margin: 0;
    padding: 80px 20px 0 0;
    text-align: center;
    font-size: 17px;
    background: url(/s_images/headerright.jpg) no-repeat;
}

#header a {
    text-decoration: none;
    font-style: normal;
    color: #FFFFFF;
}


/* Menu: at the very top within the page div */

#menu p {
    margin: 1ex 0 1.5ex 0;
    padding: 0;
    font-family: Verdana, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    color: #cc6600;
    text-align: left;
}

#menu a         {text-decoration: none;}
#menu a:link    {color: #cc6600;}
#menu a:visited {color: #cc6600;}
#menu a:hover   {color: #ff9933;}
#menu a:active  {color: #cc3300;}


/* Sidebar: should go at top of page div, after menu.
 * Orangebox nested in it uses gradient images to give a contoured look.
 */

.orangebox { /* inside sidebar */
    background: url(/s_images/orangebox.gif) repeat-y;
}

.orangebox h2 {
    background: url(/s_images/orangeboxH2.gif) repeat-y;
}

#sidebar {
    /* width in pixels, to match the orangebox bg images */
    float: right;
    position: relative; /* assures this lies atop .hr lines */
    width: 210px;
    padding: .7em;
    margin: 0 0 .7em 1.5em;
    background: #EDEBD5;
}

/* use h1 only for special high-impact titles */
#sidebar h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    padding: 1em 1em;
    color: #000000;
    text-align: center;
}

/* normal sidebar item title */
#sidebar h2 {
    font-size: .8em;
    font-weight: bold;
    margin: 0;
    padding: 1em 1em;
    color: #FFFFFF;
    text-align: left;
}

#sidebar h3 {
    font-size: 0.7em; /* 85%; */
    color: #FFFFFF;
}

#sidebar p {
    margin: 0;
    padding: .75em;
    font-size: 0.7em;
    line-height: 1.2em;
}

#sidebar a:link    {color: #fff0f0;}
#sidebar a:visited {color: #666666;}
#sidebar a:hover   {color: #ffcccc;}

/* sidebar lists untested & undeveloped -- need work, if used */
#sidebar ul {
    margin: 0;
    padding: 1em;
    list-style: none;
    font-size: 0.7em;
    line-height: 1.2em;
}

#sidebar li {
}


/* formatting for the throwaway cute pic table */
table.cutepic {
  width: 150px;
}
td.cutepic {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 67%;
  color: #909090;
}
img.cutepic {
  width: 150px;
  border: 1px solid #909090;
}

/* job listing table */
table.jobs {
  width: 100%;
  border: 3px solid #ff9900;
  margin-bottom: 2ex;
  background-color: #f0f0f0;
}
table.jobs th {
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
  text-align: left;
  background-color: #e0e0e0;
}
table.jobs td {
  font-size: 0.9em;
  line-height: 1.4em;
  border-top: 2px solid #808080;
  padding-left: 0.5em;
  padding-top: 0.5ex;
}  

/* newsletter listing page table tweaks */
th.nl {
    font-style: italic;
    font-size: smaller;
}

td.nl {
    font-size: smaller;
}

/* links page table formatting */
#links table {
  border: 1px solid #d0d0d0;
}
#links tr.linktag {
  font-weight: bold;
  font-size: larger;
  background-color: #d0d0d0;
}
#links tr.even {
  background-color: #fff6e0;
}
#links tr.odd  {
  background-color: #ffffe0;
}
#links tr.fail {
  background-color: #f9f9f9;
}
#links tr.linktag td {
  padding: 0.5em 0.25em 0.5em 0.25em;
}
#links td.link {
  text-align: left;
  width: 50%;
  padding: 0.25em 0.5em 0.25em 2em;
  vertical-align: top;
  border-right:  1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}
#links td.comment {
  text-align: left;
  padding: 0.25em 0.5em 0.25em 0.5em;
  font-size: smaller;
  border-bottom: 1px solid #f0f0f0;
}
#links a {
  text-decoration: none;
}
#links a.fail {
  color: #808080;
}


/* White text on the (default) white background,
 * for a page-width hackery paragraph. Sigh.
 */
.whiteonwhite {
    color: white;
    line-height: 0;
    margin-top: 0.5em;
}


/* Footer: goes inside page div, at very bottom */

#footer {
    /* negative left & >100% width puts it out beyond
     * the browser edges (well beyond page div edges)
     */
    clear: both;
    position: relative;
    left: -7em;
    width: 140%;
    height: 100px;
    background: #EDEBD5 url(/s_images/footbg.gif) repeat-x;
    margin-top: 1ex;
}

#footer table {
    position: relative;
    top: 25px;
    margin: 0 auto 0 auto;
}

#footer p {
    margin: 0;
    text-align: center;
    font-size: 0.6em;
}

#footer a {
    color: #666666;
}
