vti_encoding:SR|utf8-nl
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP
vti_dependenciesood:IR|0
vti_copytimestamp_http\://scamit.org:TR|02 Jul 2005 04:13:31 -0000
vti_webservertype:SR|diskweb
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_navbuttonnextlabel:SR|Next
vti_textindexood:IR|1
vti_structto_www.scamit.coolbusiness.org\:80:TR|03 Jun 2001 17:32:33 -0000
vti_copytimestamp_http\://www.scamit.coolbusiness.org:TR|09 Nov 2005 03:20:30 -0000
vti_approvallevels:VR|Content\\ Review Legal\\ Review Code\\ Review Manager\\ Review
vti_timecreated:TR|09 Nov 1999 03:02:16 -0000
vti_extenderversion:SR|4.0.2.2717
vti_navbuttonprevlabel:SR|Back
vti_longfilenames:IX|1
vti_welcomenames:VX|index.htm index.html default.htm default.html welcome.htm welcome.html home.htm home.html
vti_oldestcompatibleversion:SR|2.0.0.0
vti_restartmanual:IX|0
vti_defaultcharset:SR|windows-1252
vti_defaultlanguage:SR|en
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_hassearchbot:BR|true
vti_usernames:VR|
vti_htmlextensions:SX|.htm.html.shtml.shtm.stm.htt.htx.asp.alx.asa.
vti_navbuttonhomelabel:SR|Home
vti_copytimestamp_http\://www.scamit.org:TR|02 Aug 2008 20:27:56 -0000
vti_structto_www.scamit.org\:80:TR|03 Jun 2001 17:32:33 -0000
vti_insecureserverurl:SR|file://
vti_disableautoimgsizeexts:SX|.asp
vti_casesensitiveurls:IX|0
vti_textextensions:SX|.txt.
vti_httpdversion:SX|FrontPage DBW
vti_ignorekeyboard:IR|0
vti_navbuttonuplabel:SR|Up
