%h1.heading
  = "Editing locality %s" % @locality.id
  
- semantic_form_for(@locality) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Update'
    
%p.actions
  = link_to 'Cancel', localities_path