.welcomeFont
  = "Welcome to SCAMIT!"
#contentWrapper
  %br
  #sideBox
    #orangeBoxTop
      %br
      %h1 SCAMIT Swag
    #orangeBoxMain
      #sideMargin
        %br
        %center
          %img{:src=>"http://www.scamit.org/images/scamitmug-100.png"}
        %br
        You know you've always needed a SCAMIT logo sweatshirt... mug... wallclock... whatever. Here's your chance. A rich array of SCAMIT paraphernalia is 
        %a{:href=>"http://www.cafepress.com/scamit"} now available at Cafepress.
        %br
        %br  
  #contentWithSidebar
    %h1  5th Edition!
    %br
    #sidebarDiv 
      The long awaited 5th Edition of 
      %a{:href=>"http://www.scamit.org/publications/SCAMIT-ed5.pdf"} A Taxonomic Listing of Macro- and Megainvertebrates from Infaunal & Epibenthic Monitoring Programs in the Southern California Bight 
      has now been released and is available here for downloading!
      %br
      %center
        %img{:src=>"http://www.scamit.org/images/fifth-ed-cover-small.png"}
      %br
      %p The 5th Edition expands on prior editions by the addition of newly reported taxa from publicly owned wastewater treatment works monitoring programs and the Southern California Bight 2003 Regional Monitoring Project (Bight ’03). The inclusion of records from Bight ’03 expands the list’s coverage to depths of 1000 m in nearshore basins and megainvertebrates from trawls to depths of 500 m in the Bight. Geographic coverage begins at Point Conception, includes Southern California bays and harbors, six of the eight Channel Islands, and the Mexican coastal shelf south to Bahía Todos Santos to a depth of 1000m.
      %p The Listing is in Portable Document Format (PDF) and is approximately 1.6 MB long. Once downloaded, the PDF document may be viewed, searched and/or printed using the Adobe Acrobat Reader or other PDF readers.
  #contentNoSidebar
    %h1 Newsletters
    %br
    #sidebarDiv
      %p 
        Thanks to the scanning efforts of Rick Rowe and the Orange County Sanitation District, and PDF processing by Cheryl Brantley, our collection of newsletters is extending back further and further in time. You're 
        %a{:href=>"http://www.scamit.org/newsletters/"} welcome to visit 
        the latest newsletter, as well as journey into the past.
  