<!--

BODY { background="images/tausta.gif" }

.navi { font: 10px verdana ; color: #990000}
.navi a {  }
.navi a:hover {  text-decoration: underline; color: #FF0000}
.news {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFFFF}
.news a {  color: #d1d1d1; text-decoration: none}
.news a:hover {  text-decoration: underline}
.form {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #000000 ; background-color: #e5e5e5}
.leipis {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; margin-left: 70px; margin-right: 100px; line-height: normal}
.pleipis { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; }

#morenews {  color: #999999; text-decoration: underline}
select { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; background-color: #e5e5e5}
.leivanmurut {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px}
.ingressi {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px}
.ingressi b {  font-weight: bold; color: #990000}
.subhead {  font-size: 16px}




-->