%center
  %table{ :cellspacing => "0", :cellpadding => "0" }
    %tr
      %td
        %p
          .footer2text
            %br
            %br
            %center
              %a{ :href => "http://www.scamit.org/scamitrss.xml" }
                %img{ :src => "/images/icon_feed.gif", :style => "border:none;" }
                \&nbsp;Subscribe to updates with RSS.
              %br
              Copyright
              \&copy; 2009 SCAMIT. All Rights
              Reserved.
              %br
              %a{ :href => "http://www.scamit.org/policy.html" }
                Read
                our legal notice and privacy policy.
      %td
        .footer2text
          %br
          %br
          %img{ :src => "/images/tinylogo.gif", :alt => "SCAMIT logo" }
